<html>
<head>
<title>Golden Route Portfolio - Download</title>
<link href="favicon.ico" rel="shortcut icon" />
<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br />
        <div class="jumbotron">
            <h1>Golden Route Portfolio</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content
                or information.</p>
            <br />
            <p>
                <a class="btn btn-primary btn-lg" href="https://github.com/edwardluzi/portfolio-client/blob/master/app/app-release.apk" role="button">Download</a>
            </p>
        </div>
    </div>
</body>
</html>